body {
  background: #f9f8fc !important;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.is-dark {
  background: #b0b6be;
}
